.char__filters {
    min-width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
   

}
 
.filters__span {
    
    padding-top: 20px;
    margin: 0 auto;
    
}