.reg-container{
    padding: 20px;
    margin: 0 auto;
    height: auto;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.reg-container p {
    margin-top: 20px;
}

.logo {
 
    margin: 0 auto
}

.logoColor{
    color:#9F0013
}

.logoName{
    font-weight:bold;
    font-size:28px;
    line-height:37px;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
} 

.form{
    flex-direction: column;
    display: flex;
}

.regInfo{
    text-align: center;
    margin-bottom: 10px;
}
.authLink {
    width:100%;
}

@media (max-width: 450px) {
    .reg-container{
        border: none;
        box-shadow: none;
    }
    @media (max-width: 380px) {
       .reg-container{
        width:auto;
        margin: 0 auto;
        padding: 10px;
       }
    }
}
  